<!DOCTYPE html>
<html>
  <head>
    <title>RBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'admin/login', media: 'all', 'data-turbolinks-track': 'reload' %> <!--note that the stylesheet -->
  </head>

  <body>
  
    <div class="container">
      <%= yield %>
  
  </body>
</html>
