<div class="row">
            <div class="col-md-6">
              <div class="post">
                <img src="img/rails1.jpg">
                <div class="post-content">
                  <h3>Lorem Ipsum</h3>
                  <small>Posted by Ben on July 31, 2017</small>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non erat mi. Etiam tempor, mauris quis vulputate auctor, tortor est pharetra enim, nec pretium nibh quam et metus. Nunc ultricies mi vitae tortor finibus, in aliquet eros euismod. Nullam auctor pulvinar ipsum vel faucibus. Nulla nec ex ut nulla condimentum fringilla. Sed vestibulum accumsan erat nec tincidun.</p>
                  <a class="btn btn-primary btn-block">Read More</a>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="post">
                <img src="img/rails1.jpg">
                <div class="post-content">
                  <h3>Lorem Ipsum</h3>
                  <small>Posted by Ben on July 31, 2017</small>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non erat mi. Etiam tempor, mauris quis vulputate auctor, tortor est pharetra enim, nec pretium nibh quam et metus. Nunc ultricies mi vitae tortor finibus, in aliquet eros euismod. Nullam auctor pulvinar ipsum vel faucibus. Nulla nec ex ut nulla condimentum fringilla. Sed vestibulum accumsan erat nec tincidun.</p>
                  <a class="btn btn-primary btn-block">Read More</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="post">
                <img src="img/rails1.jpg">
                <div class="post-content">
                  <h3>Lorem Ipsum</h3>
                  <small>Posted by Ben on July 31, 2017</small>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non erat mi. Etiam tempor, mauris quis vulputate auctor, tortor est pharetra enim, nec pretium nibh quam et metus. Nunc ultricies mi vitae tortor finibus, in aliquet eros euismod. Nullam auctor pulvinar ipsum vel faucibus. Nulla nec ex ut nulla condimentum fringilla. Sed vestibulum accumsan erat nec tincidun.</p>
                  <a class="btn btn-primary btn-block">Read More</a>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="post">
                <img src="img/rails1.jpg">
                <div class="post-content">
                  <h3>Lorem Ipsum</h3>
                  <small>Posted by Ben on July 31, 2017</small>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non erat mi. Etiam tempor, mauris quis vulputate auctor, tortor est pharetra enim, nec pretium nibh quam et metus. Nunc ultricies mi vitae tortor finibus, in aliquet eros euismod. Nullam auctor pulvinar ipsum vel faucibus. Nulla nec ex ut nulla condimentum fringilla. Sed vestibulum accumsan erat nec tincidun.</p>
                  <a class="btn btn-primary btn-block">Read More</a>
                </div>
              </div>
            </div>
          </div>